    <div class="contract-card">
        <div class="nav-contract-items">

            <table>
                <tr>
                    <td>{{pq}}</td>
                    <td>{{importe}}</td>
                    <td>{{comercial}}</td>
                    <td>{{cliente}}</td>
                </tr>
            </table>
        </div>
        <div class="nav-contract-actions">
            <table>
                <tr>
                    <td><img src="images/icons/approve.png" alt="accept" onclick=""></td>
                    <td><img src="images/icons/reject.png" alt="reject" onclick=""></td>
                    <td><img src="images/icons/delete-Icon.png" alt="delete" onclick=""></td>
                    <td><img src="images/icons/edit.png" alt="edit" onclick=""></td>
                </tr>
            </table>
        </div>
    </div>