        <h2>Delete contract</h2>

<p>Are you sure you wish to delete this file?</p>

<div class="selectors-options">
    <div class="accept">
        <img src="images/icons/reject.png" alt="reject" onclick="">
    </div>
    <div class="reject">
        <img src="images/icons/approve.png" alt="accept" onclick="">
    </div>

</div>