<img id="back-btn" class="back-btn-alerts" src="/images/icons/back-btn.png">

<div class="alertas-container">
    <div class="second-nav second-nav-alerts">
        <div class="departments-alerts-btn">
            <button class="btn btn-blue btn-blue-border department-btn">Alerta Nuevo Contrato</button>
            <button class="btn btn-blue btn-blue-border department-btn">Alerta Contrato Rechazado</button>
            <button class="btn btn-blue btn-blue-border department-btn">Alerta Contrato Actualizado</button>
            <button class="btn btn-blue btn-blue-border department-btn">Alerta Contrato Aceptado</button>
            <button class="btn btn-blue btn-blue-border department-btn">Alerta Recordatorios</button>
            <button class="btn btn-blue btn-blue-border department-btn">Alerta Escalado</button>
        </div>
    </div>

<div class="mess-container">
        <h2 class="blue">Alerta Nuevo Contrato</h2>
        <form class="form-alertas" action="" method="post">
            <input id="email-list" type="email" placeholder="Para:">
            <input type="email" placeholder="Cc:">
            <input type="text" placeholder="Asunto:">
            <textarea placeholder="Message...." rows ="10" name="message"></textarea>
            <button  class="btn btn-blue btn-save" type="submit">Save</button>
        </form>
    </div>
</div>