 <div id="container">       
        <div class="second-nav">
            <ul>
                <li><a href="/" class="cool-link">Contracts</a></li>
                <li><a href="" class="cool-link">Alerts</a></li>
                <li><a href="" class="cool-link">Indicators</a></li>
                <li><a href="" class="cool-link">Permissions</a></li>
            </ul>
         
            <button id="add-btn" class="btn btn-blue">Add <span class="btn-add">contracts</span></button>
            
        </div>

<div class="contracts-container">
    <div class="title-container">
        <h2 class="blue" onclick="">Pending contracts</h2><h2 class="grey">/</h2><h2 class="grey" onclick="">Closed contracts</h2>
    </div>
 
    <div class="nav-contract">
        <div class="nav-contract-items">

            <table>
                <th>
                    <td>PQ</td>
                    <td>Amount</td>
                    <td>Commercial</td>
                    <td>Client</td>
                </th>
            </table>
        </div>
        <div class="nav-contract-actions">
            <table>
                <th>
                    <td>Accept</td>
                    <td>Reject</td>
                    <td>Delete</td>
                    <td>Edit</td>
                </th>
            </table>
        </div>
    </div>

{{!-- contracts cards here --}}
    <div class="cards">
            {{!-- {{#each ----}}
            {{!-- {{> contractCard this}} --}}
            {{!-- {{/each}} --}}

                <div class="contract-card">
        <div class="nav-contract-items">

            <table>
                <tr>
                    <td>{{pq}}</td>
                    <td>{{importe}}</td>
                    <td>{{comercial}}</td>
                    <td>{{cliente}}</td>
                </tr>
            </table>
        </div>
        <div class="nav-contract-actions">
            <table>
                <tr>
                    <td><img id="accept-btn" src="images/icons/approve.png" alt="accept"></td>
                    <td><img id="reject-btn" src="images/icons/reject.png" alt="reject"></td>
                    <td><img id="delete-btn" src="images/icons/delete-Icon.png" alt="delete"></td>
                    <td><img id="edit-btn" src="images/icons/edit.png" alt="edit"></td>
                </tr>
            </table>
        </div>
    </div>


    </div>
</div>
</div>

{{!-- popups --}}


<div id="addModal" class="modal">
        <div class="modal-content modal-blue">
            <span class="close-btn">&times;</span>
                 
        </div>
</div>

<div id="deleteModal" class="modal">
        <div class="modal-content modal-blue">
            <span class="close-btn">&times;</span>
                 
        </div>
</div>




<script>

/*CREATE CONTRACTS*/
var modal = document.getElementById("addModal");

var addbtn = document.getElementById("add-btn");
/*var acceptbtn = document.getElementById("accept-btn");
var rejectbtn = document.getElementById("reject-btn");
var deletebtn = document.getElementById("delete-btn");*/

var blurred = document.getElementById("container");
var closebtn = document.querySelector(".close-btn");
addbtn.onclick = function() {
  modal.style.display = "block";
  blurred.classList.add('blurred');
}
closebtn.onclick = function() {
  modal.style.display = "none";
  blurred.classList.remove('blurred');
}

</script>
