@font-face {
    font-display: swap;
    font-family: "ASSA Vesta";
    font-weight: 200;
    font-stretch: normal;
    src: url(/fonts/AAVESLGT.otf);
}

@font-face {
    font-display: swap;
    font-family: "ASSA Vesta";
    font-style: italic;
    font-stretch: normal;
    src: url(/fonts/AAVESLIT.otf) format("otf");
}

@font-face {
    font-display: swap;
    font-family: "ASSA Vesta";
    font-stretch: normal;
    src: url(/fonts/AAVESREG.otf) format("otf");
}

@font-face {
    font-display: swap;
    font-family: "ASSA Vesta";
    font-style: italic;
    font-stretch: normal;
    src: url(/fonts/AAVESITA.otf) format("otf");
}

@font-face {
    font-display: swap;
    font-family: "ASSA Vesta";
    font-stretch: normal;
    font-weight: bold;
    src: url(/fonts/AAVESBOL.otf) format("otf");
}

@font-face {
    font-display: swap;
    font-family: "ASSA Vesta";
    font-weight: bold;
    font-style: italic;
    font-stretch: normal;
    src: url(/fonts/AAVESBIT.otf) format("otf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-white: #FFFFFF; /*main white*/
    --color-black: #303030; /*main black & text*/
    --color-blue-light: #52BEDD; /*shadow light blue*/
    --color-shadow-blue: rgba(0,162,209,15); /*shadow selected cards*/
    --color-blue: #00A2D1; /*main blue*/
    --color-red: #CE6D6D; /*reject & red status & notifications*/
    --color-yellow: #FDCA6F; /*yellow status*/
    --color-green: #7CBD43; /*accept contracts & notifications*/
    --color-grey-light: #E6E8F1; /*background color popup*/
    --color-grey-soft: #F7F7F7; /*background popup*/ 
    --color-grey-bg: #F4F4F4; /*background color login/register*/
    --color-shadow-grey: #EDEDED; /*shadow cards*/
    --color-grey-medium: #CDCDCD; /*outline cards*/
    --color-grey: #979797; /*text forms & placeholders*/
}

html,body, input, button{
    font-family: "ASSA Vesta", sans-serif;
}

/*H1 Styles*/
h1{
    font-size: 2.5rem;
}

.black{
    color: var(--color-black);
}

.blue{
    color: var(--color-blue);
}

.grey{
    color: var(--color-grey);
}

.red{
    color: var(--color-red);
}

/*H2 Styles*/
h2{
    font-size: 2rem;
    text-align: center;
}

h3{
    font-size: 1.5rem;
}

/*a links*/
a {
    text-decoration: none;
    color: var(--color-black);
}

/*Underline*/
.underline-link{
    text-decoration: underline;
}

.forgot-password{
    text-align: right;
    font-size: 0.875rem;
}

/*btn Styles*/
.btn{
    width: auto;
    padding: 10px 20px;
    /* min-height: 50px; */
    font-size: 1rem;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
    background-color: var(--color-white);
    border: 2px solid var(--color-blue);
    outline-color: transparent;
    outline: none;
}

.btn1{
    width: 100%;
    max-width: 200px;
    margin: 10px 0;
    padding: 8px 10px;
    font-size: 0.9375rem;
    line-height: 1rem;
    /* min-height: 50px; */
    border-radius: 5px;
    text-align: center;
    background-color: var(--color-white);
    border: 2px solid var(--color-blue);
    outline-color: transparent;
    outline: none;
}


form .btn{
    margin-top: 30px;
}

.btn-blue {
    background: var(--color-blue);
    color: var(--color-white);
    border: none;
}

.btn-red {
    background: var(--color-red);
    color: var(--color-white);
    border: none;
}

.btn-grey{
    background-color: var(--color-grey-medium);
    border: none;
}


/*Inputs & Placeholders*/
input{
    border-radius: 5px;
    padding: 15px 30px;
    margin: 0 10px 20px 10px;
    border: 1px solid var(--color-blue);
    font-size: 0.875rem;
    outline-color: transparent;
    outline: none;
}

input::placeholder{
    color: var(--color-black);
    font-weight: 200;
    font-size: 0.875rem;
}

input, textarea {
    outline: none;
  }

input:focus, textarea:focus {
    box-shadow: 0 0 10px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
    outline-color: transparent;
    outline: none;
  }

  .second-nav li a.disabled {
    pointer-events: none;
    color: var(--color-grey-medium);
  }

  .second-nav li span{
    cursor: not-allowed;
  }

  .second-nav li a.link-nav-active{
      color: var(--color-blue);
      padding-bottom: 8px;
      border-bottom: 3px solid var(--color-blue);
  }

/* ---------------------- SVG ----------------------*/
.approve-svg{
    color: var(--color-green);
}

.reject-svg{
    color: var(--color-red);
}
.bg-color-mail-unread-outline{
    background-color: #c4f3ff;
}

.bg-color-thumbs-up-sharp{
    background-color:#D9EFBE;
}
.bg-color-thumbs-down-sharp{
    background-color:#F6BEBE;
}
.thumbs-down-sharp{
    color:#A40C0C;
}
.thumbs-up-sharp{
    color:#5A891F;
}

.bg-color-thumbs-down-sharp{
    background-color:#F6BEBE;
}

.thumbs-down-sharp{
    color:#A40C0C;
}

.thumbs-up-sharp{
    color:#5A891F;
}

/* ---------------------- MESSAGES ERRORS/SUCCESS ----------------------*/
.error-message{
    text-align: center;
    border: 1px solid var(--color-red);
    background-color: #F6BEBE;
    color: #A40C0C;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 20px auto 2px auto;
    max-width: 500px;
    position: relative;
}

.success-message{
    position: relative;
    text-align: center;
    border: 1px solid var(--color-green);
    background-color: #D9EFBE;
    color: #5A891F;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 20px auto 2px auto;
    max-width: 500px;
}

.success-message ul,
.error-message ul{
    list-style: none;
}

.success-message ul li,
.error-message ul li{
    margin: 10px 0;
    text-align: left;
    word-break: keep-all;
}


  /*MESSAGES ERRORS/SUCCESS CLOSE BTN*/
  .closeBtn{
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 10px;
    padding-right: 10px;
    color: var(--color-black);
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
  }

/* ---------------------- LAYOUT ----------------------*/

/*PRIMER NAVBAR*/

.first-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5% 20px 5%;
    border-bottom: 1px solid var(--color-grey-light);
}

.nav ul{
    list-style: none;
}

.user-icon ul li a {
    text-align: center;
    background-color: var(--color-black);
    color:#fff;
    text-decoration:none;
    display:block;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;

}

.nav li a:hover {
    background-color: var(--color-grey);
}

.nav li ul{
    display:none;
    position:absolute;
    right: 3%;
    min-width:140px;
}

.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position:relative;
    margin: 5px 0;
}

.nav li ul li ul {
    right:-140px;
    top:0px;
}

.nav li img{
    width: 35px;
    height: auto;
}

.nav .first-nav span{
    font-size: 2rem;
    font-weight: bold;
}

/*SEGUNDO NAVBAR, LINKS CONTRACT, ALERTS, INDICATORS Y PERMISSIONS*/
.second-nav{
    display: flex;
    width: 100%;
    /* max-width: 200px; */
    align-content: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 60px 10% 15px 10%;
    border-bottom: 1px solid var(--color-grey-light);
}

.second-nav ul li {
    display: inline-flex;
    padding: 0 20px;
}

.second-nav .btn{
    margin: 0;
}

/*TERCER ROW, TÍTULO PAGINA + BNT ADD/BTN BACK*/
.first-nav1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.first-nav1 .btn-blue{
    height: 50px;
    margin: 0;
}



/*----------------------- SELECT BOX OPTIONS ------------------------*/

  
  .select select {
    background-color: var(--color-white);
    border: 1px solid var(--color-blue);
    border-radius: 5px;
    padding: 12px;
    -webkit-appearance: button;
    appearance: button;
    outline: none;
    font-family: "ASSA Vesta", sans-serif;
    margin: 0 auto 20px auto;
    width: 100%;
    font-size: 1rem;
  }

  .select-box{
      margin: 40px auto 0 auto;
  }

/* ---------------------- CONTRACT PAGE / HOME ----------------------*/

.contracts-container{
    display: block;
    margin: 60px 5%;
}


/*TITULO PENDING CONTRACTS/CLOSED CONTRACTS*/
.title-container h2{ 
    cursor: pointer;
}

.title-container{
    display: inline-flex;
    justify-content: flex-start;
    margin: 0;
}

.title-container span{
    font-size: 1.5rem;
    color: var(--color-grey);
    padding: 0 20px;
}

/* APARTADO TARJETAS CONTRATOS*/
.celda-actions{
    min-width: 60px;
}

td{
    padding: 5px;
}

.cards{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 40px;
}


table, tr, td{
    border-collapse: collapse;
    /* border: 1px solid var(--color-grey); */
  }

@media(min-width: 1441px){
    .pq, .amount, .commercial{
        width: 200px;
    }

    .client{
        width: 400px;
    }
}

.pq{
    min-width: 100px;
    /* width: 150px; */
}

.amount{
    min-width: 90px;
    /* width: 130px; */
}

.commercial{
    min-width: 130px;
    /* width: 200px; */
}

/*ICONOS DE LAS ACCIONES: APPROVE, REJECT, DELETE, VIEW*/
.nav-contract-actions, .nav-contract-actions1{
    margin-left: 5px;
    padding: 2px 0 2px 13px;
    text-align: center;
}

/*IMG DE LOS ICONOS DE LAS ACCIONES*/
.nav-contract-actions1{
    font-size: 1.9rem;
}

.approve-svg,
.reject-svg,
.delete-svg,
.view-svg{
    cursor: pointer;
}


/*TITULOS DE LAS CONTENIDOS: PQ, AMOUNT, COMMERCIAL, CLIENT*/
.nav-contract-items, .nav-contract-items1{
    margin-right: 5px;
    padding: 2px;
}

/*MARGEN EN EL PRIMER TITULO DEL CONTENIDO: PQ ------ RESPONSIVE: PADDING-LEFT: 0;*/
.titulos{
    text-align: left;
    padding-left: 20px;
}

td span{
    display: none;
}

.client-responsive{
    display: none;
}

.second-nav ul li{
    padding: 0 10px;
}

/* ---------------------- CONTRACT CARD ----------------------*/
.contract-card,
.nav-contract{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 0 10px 25px;
    width: 100%;
    align-items: center;
}

.contract-card{
    align-items: center;
    border: 1px solid var(--color-grey-medium);
    background-color: var(--color-white);
    border-radius: 5px;
    margin-bottom: 10px;
}



/* ---------------------- POPUP TEMPLATE ----------------------*/

/*VENTANA BLUR FONDO*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--color-white);
    background-color: rgba(var(--color-white), 0.8); 
    -webkit-filter: blur(0);
    filter: blur(0);
  }
  
/*VENTANA MODAL*/
  .modal-content {
    background-color: var(--color-grey-soft);
    margin: auto;
    padding: 50px 70px;
    border: 2px solid;
    border-radius: 15px;
    width: 600px;
    min-height: 10%;
    max-width: 600px;
    height: auto;
    position: relative;
    box-shadow: 0px 0px 10px 9px rgba(var(--color-shadow-grey), 1); 
    text-align: center;
  }

  /*VENTANA MODAL COLOR AZUL*/
  .modal-blue{
    border-color: var(--color-blue);
  }

  /*VENTANA MODAL COLOR ROJO*/
  .modal-red{
    border-color: var(--color-red);
    }
  
    .modal .selectors-options{
        font-size: 3rem;
    }

    /*VENTANA MODAL CLOSE BTN*/
  .close-btn {
    color: var(--color-black);
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 8px;
    padding-right: 15px;
    font-size: 2.5rem;
    cursor: pointer;
    font-weight: bold;
  }
  
  .close-btn:hover,
  .close-btn:focus {
    color: var(--color-blue);
    text-decoration: none;
    cursor: pointer;
  }

/*ANIMATION BLUR*/
  #container.blurred{
    -webkit-filter: blur(3px);
	filter: blur(3px);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  }

  /* ---------------------- CREATE / UPLOAD FILES ----------------------*/

  /*INPUTS FORMULARIO ADD CONTRACT*/
.add-contracts-form input{
    border: none;
    margin: 0 auto;
    width: 150px;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    outline: var(--color-blue);
    outline-color: transparent;
    outline: none;
}


.create-contracts-btn{
    background-color: var(--color-blue);
    color: var(--color-white);
    outline-color: transparent;
    outline: none;
}

.add-contracts-form{
    margin: 30px 0 10px 0;
}

.note-text{
    font-size: 0.8125rem;
    margin-bottom: 40px;
    margin-top: -20px;
    text-align: left;
}

.upload-files{
    width: 100%;
}

[type="file"] {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    white-space: nowrap;
    width: 1px;
  }

  [type="file"] + label {
    text-align: center;
    padding: 15px;
    border: 1px solid var(--color-blue);
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 50px auto 40px auto;
    background-color: var(--color-white);

}

    /* ---------------------- SELECT YES/NO OPTIONS ----------------------*/

/*CAJA SELECTORES APPROVE/REJECT*/
.selectors-options{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 30px auto;
    width: 300px;
}

/*CAJA SELECTORES IMG APPROVE/REJECT*/
.selectors-options img{
    width: 50px;
}

/*TEXTAREA POPUP*/
.text-popup{
    margin: 30px auto 40px auto;
    font-size: 1.5rem;
}

/*TEXTAREA REJECT*/
.textarea-reject::placeholder{
    font-size: 1rem;
    color: var(--color-black);
}

/*TODOS LOS TEXTAREA*/
textarea{
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid var(--color-blue);
    resize: none;
    width: 100%;
    /* margin: 0 10px; */
    padding: 10px 30px;
    outline-color: transparent;
    outline: none;
}


    /* ---------------------- EDIT PAGE ----------------------*/

    .edit-container{
        padding: 50px 90px;
    }

/*TITULO DE LA PAGINA + BTN BACK*/
    #back-btn{
        width: auto;
        height: 35px;
        cursor: pointer;
    }

    /* .btn-back-responsive{
        display: none;
    } */

    .nav3{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .contract-details{
        margin-bottom: 40px;
    }

    .contract-details h2{
        text-align: left;

    }

/*CONTRACT DETAILS*/
    .info-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 20px auto 30px auto;
        padding: 20px 50px;
    }


    .border{
        border: 1px solid var(--color-grey-medium);
        box-shadow: 0px 0px 10px var(--color-shadow-grey);
        border-radius: 5px;
        width: auto;
    }

    .block li{
        list-style: none;
        padding: 15px 0;
        /* margin: 10px 0; */
    }

    .block div{
        /* margin: 10px 0; */
    }

    .block h3{
        margin-bottom: 20px;
    }

    .archivos-preview-container{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 30px;
        margin: 30px 0;
    }

    /* .email-status{
        width: 700px;
    } */

    .titulos-avisos{
        display: grid;
        grid-template-columns: 50px 2fr 2fr 90px;
        grid-gap: 10px;
        text-align: left;
        /* height: 0; */
    }

    .info-avisos{
        /* margin: 15px 0 0 0; */
        display: grid;
        grid-template-columns: 50px 1fr;
        grid-gap: 10px;
        /* padding-left: 2%; */
        color: #474747;
        font-style: italic;
        padding-top: 5px;
    }

    .email-status-card{
        border: 1px solid var(--color-grey);
        /* background-color: var(--color-white); */
        border-radius: 5px;
        width: 100%;
        padding: 20px;
        margin: 8px 0;
    }

    .icons-files{
        font-size: 1.5rem;
        display: flex;
        flex-direction: row;
        margin: 0 10px;
    }

    .icons-files a{
        padding: 0 5px;
    }

    .icon-alert{
        font-size: 1.5rem;
    }

    .archivos-upload,
    .email-status{
        width: 100%;
    }

    .archivos,
    .preview-status-edit{
        display: flex;
        justify-content: flex-start;
        align-content: flex-end;
        flex-direction: column;
        margin: 0 auto;
        padding: 30px;
    }

    .archivos-nav{
        display: inline-flex;
        justify-content: space-between;
        margin: 0 0 20px 0;
        align-items: center;
    }

    .archivos-nav h3{
        margin-bottom: 14px;
    }

    .archivos button{
        margin: 0;
    }

    .document-card{
        border: 1px solid var(--color-grey);
        background-color: var(--color-white);
        border-radius: 5px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 15px;
        margin: 8px 0;
    }

    .icons-files img{
        width: 25px;
        height: 25px;
        margin: 0 8px;
        object-fit: cover;
    }

    .status-bloque{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 30px;
    }

    h4{
        font-size: 1.2rem;
        margin-bottom: 10px;
    }

    .status-department li{
        list-style: none;
        padding: 5px 0 5px 30px;
    }


    /* ---------------------- ALERT PAGE ----------------------*/

  /* .alertas-container h3{
        margin: 2rem 0 0 2rem;
    } */
    

    .alertsContainer{
        display: flex;
       flex-direction: column;
        padding: 60px 80px 0 80px;
        align-items: center;
        justify-content: center;
        margin: 0 auto 60px auto;
    }

    .departments-alerts-btn .department-btn{
        margin: 10px;
        height: 50px;
        width: 190px;
        outline-color: transparent;
        outline: none;
    }

    .department-btn:nth-child(1){
        margin-top: 0;
    }

    /* .department-btn{
        border: 1px solid var(--color-blue);
        background: var(--color-white);
        color: var(--color-black);
    } */

    .second-nav-alerts{
        justify-content: center;
        padding-top: 0;
        margin: 0;
    }

    /* .back-btn-alerts{
        margin: 2rem 2rem 0 0;
    } */

    .nav-alertas{
        display: flex;
        justify-content: space-between;
        padding: 4rem 6rem 0 6rem;
    }


    .mess-container{
        display: none;
        justify-content: center;
        flex-direction: column;
        /* margin: 0 auto; */
        max-width: 650px;

    }

    .form-alertas{
        margin: 30px auto 0 auto;
    }

    /* .btn-blue-border{
        border: 1px solid var(--color-blue);
        background-color: var(--color-white);
        color: var(--color-black);
    }  */

    .btn-save{
        display: flex;
        margin: auto;
        outline-color: transparent;
        outline: none;
    }

    .mess-container textarea {
        line-height: 1.5;
        border-radius: 5px;
        border: 1px solid var(--color-grey);
        resize: none;
        width: 100%;
        /* margin: 0 10px; */
        padding: 10px 30px;
        margin: 20px 0 0 0;
    }

    .mess-container input{
        border: 1px solid var(--color-grey);
        width: 100%;
        margin: 10px 0;
        outline-color: transparent;
        outline: none;
    }

    .mess-container textarea::placeholder{
        font-size: 0.9375rem;
        color: var(--color-black);
    }

    textarea::placeholder{
        font-family: "ASSA Vesta", sans-serif;
    }

    /* ---------------------- PROFILE ----------------------*/
    .profile-container{
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 30px;
        margin: 30px auto 30px auto;
        padding: 100px;
    }

    .profile-info-container{
        padding: 10px 20px;
        margin-bottom: 30px;
    }
    
    .select-user{
        padding: 0 0 0 30px;
        text-align: center;
    }

    .roles-list-profile{
        padding: 0 20px;
    }

    .roles-list-profile li{
        margin: auto;
        margin: 5px;
        padding: 5px;
    }

    .delete{
        font-size: 1.5rem;
        color: var(--color-black);
    }



/*--------------------- RESPONSIVE CARD CONTRACT HOME + MENU (contracts, alerts, indicator, permissions) ---------------------*/
    @media(max-width: 1253px){
        .archivos-preview-container{
            grid-template-columns: 1fr 42%;
        }
    }

    @media(max-width: 1024px){
        .archivos-nav span{
            display: none;
        }
        .icons-files{
            flex-direction: row;
        }
        .icons-files img{
            margin: 0;
        }
    }

    @media(max-width: 976px){
        /* .btn-back-responsive{
            display: block;
            position: absolute;
            right: 0;
            float: right;
            margin-top: 1.9em;
            margin-right: 2em;
        }

        .btn-back-responsive a img{
            width: auto;
            height: 35px;
            cursor: pointer;
        } */

        .contract-details{
            margin: 0 10px 40px 10px;
        }

        .info-container{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin: 20px 0;
        }

        .info-container .block{
            margin: 0 20px;
        }

        /* .nav3 a{
            display: none;
        } */

        .archivos-preview-container{
            display: flex;
            flex-direction: column;
            margin: 0 10px 30px 10px;
        }
    }

    @media(max-width: 888px){
        .nav-contract-items td:nth-child(3), .nav-contract-items1 td:nth-child(3){
            display: none;
        }
    }

    @media(max-width: 830px){
        .edit-container{
            padding: 50px 20px;
        }
    }

    @media(max-width: 755px){
        .first-nav1 h2{
            font-size: 1.6rem;
        }
    }

    @media(max-width: 720px){
        .first-nav1 .btn-blue{
            height: auto;
        }
        .btn{
            font-size: 0.875rem;
            padding: 10px;
        }
        .first-nav1 h2{
            font-size: 1.5rem;
        }

        .modal{
            transform: scale(0.8);
        }

        .block h3{
            font-size: 1rem;
            margin-bottom: 0px;
        }
    }

    @media(max-width: 856px){
        .profile-container{
            padding: 50px;
        }
    }

    @media(max-width: 744px){
        .profile-container{
            padding: 50px;
            display: flex;
            flex-direction: column;
        }

        .select-user{
            padding-left: 0;
        }

        .nav-alertas{
            display: block;
            text-align: center;
        }

    }
    
    @media(max-width: 653px){
        .pq, .amount, .client{
            width: 200px;
        }
        .nav-contract-actions1{
            width: 100%;
            margin: 10px 0 0 0;
        }
        .nav-contract-items, .nav-contract-actions{
            display: none;
        }
        td span{
            display: block;
        }
        .contract-card{
            padding: 2%;
            margin-bottom: 30px;
        }

        .nav-contract{
            padding: 0;
        }

        .modal-content{
            padding: 40px 50px;
            width: 500px;
        }
    }

    @media(max-width: 610px){
        .edit-container{
            transform: scale(0.9);
        }

        .nav3 a, .nav3 h2{
            transform: scale(0.9);
        }

        .edit-container{
            margin: -80px 0 0 0;

        }
    }

    @media(max-width: 583px){
        .alertsContainer{
            padding: 40px;
            text-align: center;
        }
    }

    @media(max-width: 580px){
        .first-nav1 h2{
            font-size: 1.3rem;
        }

        .first-nav{
            padding: 50px 5% 20px 5%;
        }
    }
    
    @media(max-width: 544px){
        .btn-add{
            display: none;
        }
        .first-nav1{
            margin-bottom: 20px;
        }

        .contracts-container{
            margin-top: 40px;
        }

        .email-status-card, .archivos-nav{
            transform: scale(0.8);
        }

        .document-card{
            margin: 30px 0;
        }
        .archivos-nav h3{
            font-size: 2.3rem;
        }
        .email-status{
            padding: 30px 0;

        }
    }

    @media(max-width: 515px){
        .first-nav1 h2{
            font-size: 1.2rem;
        }

        .modal-content{
            width: 400px;
        }

        .error-message,
        .success-message{
            width: 350px;
        }
    }

    @media(max-width: 503px){
        .departments-alerts-btn .department-btn{
            width: 130px;
        }
    }

    @media(max-width: 476px){
        .nav-alertas{
            padding: 2rem 4rem 0 4rem;
        }

        .nav-alertas h2{
            font-size: 1.5rem;
        }
        .alertsContainer{
            padding: 20px;
        }
    }

    @media(max-width: 440px){
        .first-nav1 h2{
            font-size: 1rem;
        }
        .client-responsive{
            display: block;
            margin-top: 5px;
        }
        .client{
            display: none;
        }

        .second-nav{
            justify-content: center;
            padding: 20px 10px 0 10px;
        }


        .first-nav1{
            margin-bottom: 10px;
        }

        .contracts-container{
            margin-top: 40px;
        }

    }

    @media(max-width: 430px){
        .archivos-nav span{
            display: none;
        }
    }

    @media(max-width: 409px){
        .edit-container{
            /* padding: 0; */
        }
    }
    @media(max-width: 404px){
        .modal-content{
            width: 350px;
        }
        .selectors-options{
            width: 100%;
        }
    }

    @media(max-width: 383px){
        .departments-alerts-btn .department-btn{
            margin: 5px;
        }
    }

    @media(max-width: 373px){
        .title-container span{
            margin: 0;
            padding: 0 3px;
        }
        
        .second-nav ul li{
            padding: 0 5px;
            font-size: 0.875rem;
        }

        .modal-content h2{
            font-size: 1.5rem;
        }

        .modal-content p{
            font-size: 1rem;
        }
        .selectors-options img{
            height: 40px;
            width: auto;
        }

        .modal-content{
            width: 300px;
            padding: 20px 30px;
        }

        .add-contracts-form p, label{
            font-size: 0.875rem;
            text-align: center;
        }

        .error-message,
        .success-message{
            width: 320px;
        }

        .titulos-avisos{
            grid-template-columns: 30px 90px 70px 90px;
            grid-gap: 10px;
            word-break: break-word;
            grid-template-rows: auto;
        }
    }

    @media(max-width: 388px){
        .archivos-upload{
            padding: 30px 0;
        }

        .archivos-nav, .contracts-cards-items{
            transform: scale(0.8);
        }
    }

    /* @media(max-width: 341px){
        .email-status-card{
            padding: 15px;
            transform: scale(0.9);
        }

        .info-container{
            padding: 20px;
        }

        .titulos-avisos{
            grid-template-columns: 30px 80px 70px 85px;
        }

        .edit-container{
            margin: -100px 0 0 0;
            padding: 30px 20px;
        }

        /*.btn-back-responsive{
            margin-right: 0;
            transform: scale(0.8);
        } */
/*
        .contract-details h2{
            font-size: 1.5rem;
        }
    } */

    @media(max-width: 441px){
        .first-nav1{
            flex-wrap: wrap;
            justify-content: flex-end;
            margin: 0 auto;
        }

        .info-avisos{
            grid-template-columns: 20px 1fr;
        }

        .title-container{
            margin: 0 auto 20px auto;
        }

        .error-message,
        .success-message{
            width: 300px;
        }

        .edit-container{
            padding: 55px 0;
        }

        /* .btn-back-responsive{
            transform: scale(0.7);
            float: none;
            position: absolute;
            top: 0;
            right: -30px;
            margin: 9rem 0 0 0;
        } */

        .info-container{
            padding: 15px;
        }

        .contract-details, .archivos-preview-container{
            margin: 0;
        }

        .email-status, .archivos-upload{
            padding: 15px;
        }

        .archivos-nav{
            margin-bottom: 0;
        }

        .titulos-avisos{
            grid-template-columns: 20px repeat(3, 1fr);
            grid-gap: 10px;
            font-size: 0.875rem;
        }
    

        /* .email-status-card p{
            padding-top: 10px;
        } */


        .celda-actions {
            font-size: 1.5rem;
            text-align: center;
        }

        .modal .selectors-options{
            font-size: 2.5rem;
            margin: 0;
        }

        .icon-alert{
            font-size: 1rem;
        }

        .nav-alertas{
            padding: 2rem 3rem 0 3rem;
        }

        .profile-container{
            transform: scale(0.9);
            padding: 10px;
            margin: 0 auto 20px auto;
        }

        .departments-alerts-btn{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        .departments-alerts-btn .department-btn{
            transform: scale(0.9);
        }
        .contract-details h2{
            font-size: 1.5rem;
        }

        .email-status-card, .archivos-nav{
            transform: scale(1);
        }
        
        .archivos-nav, .contracts-cards-items{
            transform: scale(1);
        }

        .email-status .titulos-avisos{
            font-size: 0.75rem;
        }
    }