@font-face {
    font-display: swap;
    font-family: "ASSA Vesta";
    font-weight: 200;
    font-stretch: normal;
    src: url(/fonts/AAVESLGT.otf);
}

@font-face {
    font-display: swap;
    font-family: "ASSA Vesta";
    font-style: italic;
    font-stretch: normal;
    src: url(/fonts/AAVESLIT.otf) format("otf");
}

@font-face {
    font-display: swap;
    font-family: "ASSA Vesta";
    font-stretch: normal;
    src: url(/fonts/AAVESREG.otf) format("otf");
}

@font-face {
    font-display: swap;
    font-family: "ASSA Vesta";
    font-style: italic;
    font-stretch: normal;
    src: url(/fonts/AAVESITA.otf) format("otf");
}

@font-face {
    font-display: swap;
    font-family: "ASSA Vesta";
    font-stretch: normal;
    font-weight: bold;
    src: url(/fonts/AAVESBOL.otf) format("otf");
}

@font-face {
    font-display: swap;
    font-family: "ASSA Vesta";
    font-weight: bold;
    font-style: italic;
    font-stretch: normal;
    src: url(/fonts/AAVESBIT.otf) format("otf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-white: #FFFFFF; /*main white*/
    --color-black: #303030; /*main black & text*/
    --color-blue-light: #52BEDD; /*shadow light blue*/
    --color-shadow-blue: rgba(0,162,209,15); /*shadow selected cards*/
    --color-blue: #00A2D1; /*main blue*/
    --color-red: #CE6D6D; /*reject & red status & notifications*/
    --color-yellow: #FDCA6F; /*yellow status*/
    --color-green: #7CBD43; /*accept contracts & notifications*/
    --color-grey-light: #E6E8F1; /*background color popup*/
    --color-grey-bg: #F4F4F4; /*background color login/register*/
    --color-shadow-grey: #EDEDED; /*shadow cards*/
    --color-grey-medium: #CDCDCD; /*outline cards*/
    --color-grey: #979797; /*text forms & placeholders*/
}

html,body, input, button{
    font-family: "ASSA Vesta", sans-serif;
}

/*H1 Styles*/
h1{
    font-size: 3rem;
}

.black{
    color: var(--color-black);
}

.blue{
    color: var(--color-blue);
}


/*H2 Styles*/
h2{
    font-size: 2.5rem;
}



/*a links*/
a {
    text-decoration: none;
    color: var(--color-black);
}

/*Underline*/
.underline-link{
    text-decoration: underline;
}

/*btn Styles*/
.btn{
    width: auto;
    padding: 10px 25px;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto;
}

form .btn{
    margin-top: 30px;
}

.btn-blue {
    background: var(--color-blue);
    color: var(--color-white);
}

.btn-red {
    background: var(--color-red);
    color: var(--color-white);
}


/*Inputs & Placeholders*/
input{
    border-radius: 5px;
    padding: 15px 30px;
    margin: 0 10px 20px 10px;
    border: 1px solid var(--color-blue);
    width: 100%;
    font-size: 0.875rem;
}

input::placeholder{
    color: var(--color-black);
    font-weight: 200;
    font-size: 0.875rem;
}




/* ---------------------- LAYOUT ----------------------*/



.first-nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 5% 15px 5%;
    border-bottom: 1px solid var(--color-grey-light);
}

.nav ul{
    list-style: none;
}

.nav li a {
    text-align: center;
    background-color: var(--color-black);
    color:#fff;
    text-decoration:none;
    padding:10px 12px;
    display:block;
    cursor: pointer;
    border-radius: 5px;
}

.nav li a:hover {
    background-color: var(--color-grey);
}

.nav li ul{
    display:none;
    position:absolute;
    right: 16px;
    min-width:140px;
}

.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position:relative;
    margin: 5px 0;
}

.nav li ul li ul {
    right:-140px;
    top:0px;
}

.nav li img{
    width: 35px;
    height: auto;
}

.nav .first-nav span{
    font-size: 2rem;
    font-weight: bold;
}


.second-nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 60px 10% 30px 10%;
}

.second-nav ul li {
    display: inline-block;
}

.second-nav li a{
    padding: 0 20px;
}

.second-nav .btn{
    margin: 0;
}






/* ---------------------- CONTRACT PAGE / HOME ----------------------*/

.contracts-container{
    display: block;
    margin: 10px 5%;
}

.title-container h2{ 
    cursor: pointer;
}

.title-container{
    display: inline-flex;
    justify-content: flex-start;
    margin: 30px 0;
}

.title-container span{
    font-size: 1.5rem;
    color: var(--color-grey);
    padding: 0 20px;
}


.nav-contract,
.contract-card{
    display: flex;
    margin: 40px;
    justify-content: space-between;
    padding: 10px;

}


.nav-contract-items td,
.nav-contract-actions td{
    padding: 0 15px;
    width: 90px;
}

.nav-contract-items td{
    padding: 0 60px;
}

.cards{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

/* ---------------------- CONTRACT CARD ----------------------*/

.nav-contract-actions img{
    width: 35px;
    height: 35px;
    object-fit: cover;
    cursor: pointer;
}

.contract-card{
    align-items: center;
    border: 1px solid var(--color-grey-medium);
    background-color: var(--color-white);
    border-radius: 5px;
    margin-bottom: 10px;
}

.contract-card:active{
    border: 1px solid var(--color-blue);
}


/* ---------------------- POPUP TEMPLATE ----------------------*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--color-white);
    background-color: rgba(var(--color-white), 0.8); 
    -webkit-filter: blur(0);
    filter: blur(0);
  }
  

  .modal-content {
    background-color: var(--color-white);
    margin: auto;
    padding: 20px;
    border: 2px solid;
    border-radius: 15px;
    width: 40%;
    min-height: 10%;
    height: auto;
    position: relative;
    box-shadow: 0px 0px 10px 9px rgba(var(--color-shadow-grey), 1); 
  }

  .modal-blue{
    border-color: var(--color-blue);
  }

  .modal-red{
    border-color: var(--color-red);
    }
  
  .close-btn {
    color: var(--color-black);
    position: absolute;
    right: 0;
    padding-right: 15px;
    font-size: 2.5rem;
    cursor: pointer;
    font-weight: bold;
  }
  
  .close-btn:hover,
  .close-btn:focus {
    color: var(--color-blue);
    text-decoration: none;
    cursor: pointer;
  }

  #container.blurred{
    -webkit-filter: blur(3px);
	filter: blur(3px);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  }