<form action="/uploadNewContractToDB" method="post" enctype="multipart/form-data">
    <input type="file" name="excelFile">
    {{!-- <input type="file" name="otherFiles" multiple> --}}
    <input type="submit" value="Create Contract">
</form>